body{
    background-color: lightblue;
}
.user-profile {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  .user-profile h1 {
    color: #333;
  }
  
  .user-profile p {
    color: #555;
  }
  