body{
  background-color: lightcyan;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}